<style>
	div {
		width: 240px;
		height: 240px;
		padding: 20px;
		margin: 20px;
		border: 20px solid;
	}
	.klocekContent {
		background-color: #ef8f8f;
		border-color: #df2020;
	}
	.klocekBorder {
		box-sizing: border-box;
		background-color: #8fef8f;
		border-color: #20df20;
	}
</style>

Chcemy umieścić na stronie klocki o wymiarach 240px na 240px.

<div class="klocekContent">
	ten div ma styl<br>
	box-sizing: content-box;<br>
	(domyślna wartość)<br>
	<br>
	podana w stylach szerokość odnosi się tylko do zawartości diva
</div>
<div class="klocekBorder">
	ten div ma styl<br>
	box-sizing: border-box;<br>
	<br>
	podana w stylach szerokość jest całkowitą szerokością obiektu
</div>

Jak widzisz pomimimo podania w stylach wymiaru każdego diva na stronie, czerwony klocek ma wymiary 320px na 320px.<br>
CSS domyślnie traktuje podane width i height jako wymiary zawartości elementu,<br>
więc powiększył rzeczywiste wymiary czerwonego klocka o 80px (dwie grubości bordera + padding z prawej + padding z lewej).<br>
Jest to bardzo nieporządane zachowanie, bo nie pozwala na jasne zdefiniowanie wymiarów elementu w css.<br>
Najprościej ten problem rozwiązuje się nadając każdemu elementowi na stronie box-sizing: border-box.<br>
W pliku box-sizing.css znajduje się styl rozwiązujący ten problem.<br>
Pamiętaj żeby zawsze dodawać ten styl na swoją stronę (każdy tak robi XD).