/*
Znaczenia użytych pojęć:
nav, navbar = pasek nawigacji (to coś na górze strony gdzie klikasz w linki)
footer = stopka strony (to coś na dole strony, gdzie są np. dane kontaktowe)
obszar roboczy strony = to miejsce w przeglądarce, gdzie się strona wyświetla
#container = wszystko co jest w body, ale bez navbara i footera = <div id="container">
aside = jakiś obszar po boku strony, na przykład menu, lista znajomych
main = główna zawartość strony
*/

/*
Zawsze nadawaj wszystkim elementom box-sizing: border-box!
*/
* {
	box-sizing: border-box;
}

body {
	/* CSS domyślnie ustawia margines body na 8px,
	nie chcemy tego, bo pasek nawigacji i stopka mają przylegać do krawędzi strony. */
	margin: 0; 

	/* Dobrym pomysłem jest ustawienie body na display: flex,
	dzięki temu możemy wyśrodkować w poziomie #container.
	Ustawimy mu potem maksymalną szerokość, żeby strona nie rozciągała się na dużych wyświetlaczach.
	Bez display: flex na body nie wyśrodkujemy go w poziomie. */
	display: flex;
	flex-direction: column;
	align-items: center;
	/* Dodajemy odstęp między elementami w body (nav, #container, footer). */
	gap: 12px;

	/* Jeśli nasza strona ma stopkę to musimy zagwarantować,
	że zawsze będzie ona na spodzie strony.
	Zrobimy to ustawiając minimalną wysokość body strony na 100% (100vh) wysokości obszaru roboczego strony,
	a następnie nadamy #containerowi strony flex-grow: 1, żeby rozepchał się pomiędzy navbarem a footerem.
	Rozpychająca się zawartość strony przesunie footer na spód obszaru roboczego. */
	min-height: 100vh; 
}

nav {
	display: flex;
	justify-content: space-between;
	background-color: lightblue;
	padding: 12px;

	/* Przez to, że ustawiliśmy w body centrowanie elementów w poziomie
	navbar dostosuje swoją szerokość do szerokości swoich elementów.
	Zmuszamy go do użycia 100% dostępnej szerokości. */
	width: 100%;
}

footer {
	padding: 12px;
	background-color: lightgray;

	/* Przez to, że ustawiliśmy w body centrowanie elementów w poziomie
	footer dostosuje swoją szerokość do szerokości swoich elementów.
	Zmuszamy go do użycia 100% dostępnej szerokości. */
	width: 100%;
}

#container {
	/* Jeśli #container ma zbyt małą wysokość footer nie będzie przylegać do spodu strony.
	Musimy kazać #containerowi rozciągnąć się w pionie. */
	flex-grow: 1;

	/* Żeby zawartość strony nie była zbyt szeroka ogarniczamy jej maksymalną szerokość. */
	max-width: 1000px;

	/* W #containerze znajdują się <main> i <aside>.
	Używamy flexa żeby je ładnie porozmieszczać :). */
	display: flex;
	/* Dodajemy odstęp między elementami w #containerze (main, aside) */
	gap: 12px;
}

main {
	display: flex;
	flex-direction: column;
	gap: 12px;
	div {
		background-color: lightgray;
		padding: 12px;
	}
}

aside {
	background-color: lightgreen;
	padding: 12px;
}

/* RESPONSYWNOŚĆ!!! */
@media screen and (max-width: 600px) {
	#container {
		/* Na małych wyświetlaczach musimy zmienić kierunek flexa w #containerze.
		Dzięki temu aside wyświetli się nad mainem. */
		flex-direction: column;
	}
}

@media screen and (min-width: 601px) {
	aside {
		/* Na dużych wyświetlaczach ograniczamy maksymalną szerokość asidea. */
		max-width: 200px;
	}
}

